<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="flex justify-center items-center h-screen">
    <div class="w-4/5 h-500 bg-white shadow-md rounded-lg p-6 justify-center items-center">
        <div class="flex">
            <div class="w-2/4">
                <img th:src="@{'data:image/jpeg;base64,' + ${employee.image}}" alt="Aucune image" class="w-full h-auto">
            </div>
            <div class="w-2/4 pl-6">
                <table>
                    <tr>
                        <td class="font-medium pr-2">Matricule :</td>
                        <td th:text="${employee.matricule}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Prénom :</td>
                        <td th:text="${employee.firstName}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Nom :</td>
                        <td th:text="${employee.lastName}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Date de naissance :</td>
                        <td th:text="${employee.birthDate}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Date de naissance :</td>
                        <td th:text="${employee.birthDate}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Sexe :</td>
                        <td th:text="${employee.sex}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Adresse :</td>
                        <td th:text="${employee.address}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Téléphone :</td>
                        <td th:text="${employee.phone}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Email Personnelle :</td>
                        <td th:text="${employee.personalEmail}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Email Professionnelle :</td>
                        <td th:text="${employee.email}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Fonction :</td>
                        <td th:text="${employee.role}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Nombres d'enfants à charge :</td>
                        <td th:text="${employee.children}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Date d'embauche :</td>
                        <td th:text="${employee.hire}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Date de départ :</td>
                        <td th:text="${employee.departure}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Date de naissance :</td>
                        <td th:text="${employee.birthDate}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Catégorie socio-professionnelle :</td>
                        <td th:text="${employee.spc}"></td>
                    </tr>
                    <tr>
                        <td class="font-medium pr-2">Numéro CNAPS :</td>
                        <td th:text="${employee.cnaps}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
