<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
</head>
<body>
<ul>
    <form action="/employee" method="post" th:object="${employee}" enctype="multipart/form-data">
        <label for="lastname">Nom :</label>
        <input type="text" id="lastname" name="lastname" th:field="*{lastName}" required>

        <label for="firstname">Prénom :</label>
        <input type="text" id="firstname" name="firstname" th:field="*{firstName}" required>

        <label for="birthdate">Anniversaire :</label>
        <input type="date" id="birthdate" name="birthdate" th:field="*{birthDate}" required>

        <label for="image">Photo :</label>
        <input type="file" id="image" name="image" th:field="*{image}" required>

        <button type="submit">Envoyer</button>
    </form>
    <ul>
        <li th:each="employee : ${employees}">
            <span th:text="${employee.firstname}"></span> - <span th:text="${employee.lastname}"></span>
        </li>
    </ul>
</ul>
</body>
</html>
