<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-4/5 bg-white shadow-md rounded-lg p-6 h-screen">
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                <div class="py-2 align-middle inline-block min-w-full">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm font-light bg-white border border-gray-300">
                            <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Image</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Matricule</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">First Name</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Last Name</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Birth Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item: ${employees}"
                                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-black-500"
                                th:attr="data-id=${item.id}">
                                <td class="whitespace-nowrap px-6 py-4 font-medium xl:w-2/12 h-6">
                                    <img th:src="@{'data:image/jpeg;base64,' + ${item.image}}" alt="Aucune image">
                                </td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.matricule}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.firstName}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.lastName}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.birthDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('[data-id]');
        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                const employeeId = row.getAttribute('data-id');
                window.location.href = '/details?id=' + employeeId;
            });
        });
    });
</script>
</body>
</html>

