<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="flex justify-center items-center h-screen bg-gray-100 flex-col w-screen">
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 w-screen h-16"> <!-- Added 'h-16' to specify the height of the navbar -->
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <span class="font-semibold text-xl tracking-tight">Liana Finaritra Corporation</span>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
    </nav>

    <div class="w-4/5 bg-white shadow-md rounded-lg p-6 h-screen">
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                <div class="py-2 align-middle inline-block min-w-full space-y-4">
                    <div class="formbold-input-flex flex space-x-4">
                        <div>
                            <form th:action="@{/form}" method="get">
                                <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium rounded-lg py-2 px-4 sm:text-sm">
                                    Créer un employé
                                </button>
                            </form>
                        </div>
                        <div>
                            <form th:action="@{/disconnect}" method="post">
                                <input type="hidden" name="sessionId" th:value="${sessionId}" />

                                <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium rounded-lg py-2 px-4 sm:text-sm">
                                    Deconnecter
                                </button>
                            </form>
                        </div>
                    </div>
                    <form action="/search" method="get" class="flex items-center w-1/2">
                        <label for="search" class="sr-only">Search</label>
                        <div class="relative flex items-center w-full">
                            <svg class="absolute left-3 w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                            <input type="search" name="word" id="search" class="w-full px-4 py-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
                            <button type="submit" class="ml-2 px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>

                    <div class="flex justify-between w-full">
                    <form action="/sort" method="get" class="p-4 border border-gray-300 rounded-lg shadow-md w-1/3">
                        <div class="mb-4">
                            <label for="sortAttribute" class="block text-sm font-medium text-gray-700">Trier par :</label>
                            <select id="sortAttribute" name="sortAttribute" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                <option value="lastName">Nom</option>
                                <option value="firstName">Prénom</option>
                                <option value="role">Fonction</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700">Ordre de tri :</label>
                            <div class="mt-1">
                                <label for="radioButton1" class="inline-flex items-center">
                                    <input type="radio" name="sortOrder" id="radioButton1" class="formbold-radio" value="asc">
                                    <span class="ml-2 text-sm text-gray-700">Croissant</span>
                                </label>
                                <label for="radioButton2" class="ml-4 inline-flex items-center">
                                    <input type="radio" name="sortOrder" id="radioButton2" class="formbold-radio" value="desc">
                                    <span class="ml-2 text-sm text-gray-700">Décroissant</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium rounded-lg py-2 px-4 sm:text-sm">
                            Trier
                        </button>
                    </form>

                        <form action="/searchBySex" method="get" class="p-4 border border-gray-300 rounded-lg shadow-md w-1/3">
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700">Sexe :</label>
                                <div class="mt-1">
                                    <label for="radioButton1" class="inline-flex items-center">
                                        <input type="radio" name="sex" id="sexeM" class="formbold-radio" value="H">
                                        <span class="ml-2 text-sm text-gray-700">Masculin</span>
                                    </label>
                                    <label for="radioButton2" class="ml-4 inline-flex items-center">
                                        <input type="radio" name="sex" id="sexeF" class="formbold-radio" value="F">
                                        <span class="ml-2 text-sm text-gray-700">Féminin</span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium rounded-lg py-2 px-4 sm:text-sm">
                                Rechercher
                            </button>
                        </form>

                        <form action="/searchByCode" method="get" class="p-4 border border-gray-300 rounded-lg shadow-md w-1/3">
                            <div class="mb-4">
                                <label for="sortAttribute" class="block text-sm font-medium text-gray-700">Code pays :</label>
                                <select id="sortAttribute3" name="code" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                    <option value="+261">+261</option>
                                    <option value="+33">+33</option>
                                    <option value="+355">+355</option>
                                    <option value="+93">+93</option>
                                    <option value="+27">+27</option>
                                    <option value="+1">+1</option>
                                </select>
                            </div>
                            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-medium rounded-lg py-2 px-4 sm:text-sm">
                                Rechercher
                            </button>
                        </form>
                    </div>

                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm font-light bg-white border border-gray-300">
                            <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Image</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Matricule</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">First Name</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Last Name</th>
                                <th scope="col" class="px-6 py-3 font-medium text-gray-900">Birth Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item: ${employees}"
                                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-black-500"
                                th:attr="data-id=${item.id}">
                                <td class="whitespace-nowrap px-6 py-4 font-medium xl:w-2/12 h-6">
                                    <img th:src="@{'data:image/jpeg;base64,' + ${item.image}}" alt="Aucune image">
                                </td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.matricule}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.firstName}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.lastName}"></td>
                                <td class="whitespace-nowrap px-6 py-4" th:text="${item.birthDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('[data-id]');
        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                const employeeId = row.getAttribute('data-id');
                window.location.href = '/details?id=' + employeeId;
            });
        });
    });
</script>
</body>
</html>

